{% extends 'myapp/base.html' %}

{% block title %}
Доставка
{% endblock %}

{% block content %}
    <p>«Мастерская творца» предлагает лучшие условия доставки цветов и букетов по всей территории Беларуси.</p>
    <p>Надежная и быстрая доставка доступна в нескольких вариантах:</p>

    <p><b>✔ Доставка днем</b> - заказав на сайте, мы доставим цветы в любой день с 08:00 до 00:00 часов, без выходных и праздников.</p>
    <p><b>✔ Срочная доставка цветов в течение 1-1.5 часа </b> - оформляется по телефону через менеджера.</p>

    <p>Мы предоставляем только СВЕЖИЕ и КАЧЕСТВЕННЫЕ цветы лучших сортов! Мы получаем наши цветы напрямую с лучших теплиц и плантаций разных стран. Компания «Мастерская творца» заботится о своих клиентах, направляя все свои усилия на предоставление качественных услуг по продаже и доставке цветов по всей территории Беларуси.</p>
{% endblock %}


